body{
    text-align:center;
    background:linear-gradient(90deg,rgb(255, 255, 255),rgb(199, 192, 176));
}
h1{
        text-align:center;
    font-size:x-large;
    padding:10%;
}
.image-e{
    height:60vw;
    padding:5%;

}
section{
    overflow:hidden;
}

.introduce{
    display:flex;
    justify-content:center;
}
.introduce-index{
    text-align:right;
    width:45vw;
    font-weight: 700;
    padding-right:5%;
}
.introduce-answer{
    text-align:left;
    width:60vw;
    padding-left:5%;
}
.ind-li{
    padding:7% 0 7% 0;
}
.answer-li{
padding:5% 0 5% 0;
}
.message{
    background-color: white;
    border-width: 3px;
    border-color:black;
    border-radius: 20px;;
    width:80vw;
    margin:auto;
    padding:5%;
    margin-bottom:10%;
    font-size: large;
}